#desktop1-container {
  width: 100%;
  height: 1024px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  background: #F6E1C3;
  margin-left: auto;
  margin-right: auto;
}

.head-container{
  display: flex;
  width: 1051px;
  height: 158px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #F6E1C3;
  margin-left: auto;
  margin-right: auto;
}

.page-title-container{
  display: flex;
  width: 1051px;
  height: 247px;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  background: #F6E1C3;
  margin-left: auto;
  margin-right: auto;
}

.title {
  width: 640px;
  height: 78px;
}

#box {
  width: 1051px;
  height: 50px;
  margin: 0 auto;
  background: #E9A178;
  border-radius: 2px;
  z-index: 1;
  box-shadow: -10px 10px #7A3E65;
}

.menu {
  height: 100%;
  width: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
}

.menu li {
  width: 33%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu li a {
  font-size: 24px;
  font-style: normal;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  line-height: 1.6em;
}

.menu li a:hover{
  color: #F5F5F5;
  font-size: 28px;
}

.button-text a{
  font-size: 20px;
  font-style: normal;
  color: #000;
  font-family: 'Courier New', Courier, monospace;
  text-decoration: none;
  line-height: 1.6em;
}

a:hover {
  color: #F5F5F5;
  font-size: 22px;
}

.BG {
  width: 90%;
  height: 625px;
  border-radius: 2px;
  z-index: 1;
  box-shadow: -10px 10px #A84448;
}

.RONDI-BG {
  width:933px;
  border-radius: 2px;
  z-index: 1;
  box-shadow: -10px 10px #A84448;
  margin:1%;
  }

  .row1 {
    width:933px;
    display:flex;
    justify-content: space-between;
    }
  
    .columns {
    justify-content: center;
    display: flex;
    flex:33.3%;
    }

    .item-details{
      justify-self: left;
    }
  
    .columns span {
    float: left;
    margin:1%;
    font-size: 15px;
    font-style: normal;
    color: #000;
    font-family: 'Courier New', Courier, monospace;
    }

    .RONDI-description {
      width: 52.8%;
      margin:1%;
      background: #e9a178;
      border-radius: 2px;
      box-shadow: -10px 10px #a84448;
      padding: 0%;
    }
    
    #RONDI-description-text p {
      font-size: 16px;
      font-style: normal;
      color: #000;
      font-family: 'Courier New', Courier, monospace;
      text-align: center;
    }

.inspiring-quote {
  color: rgba(0, 0, 0, 1);
  width: 728px;
  height: 64px;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 300;
  line-height: 31px;
  font-stretch: normal;
  text-decoration: none;
}

.title-text {
  font-size: 24px;
  font-style: Medium;
  text-align: center;
  font-family: Space Grotesk;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}

.cart-item-photo{
  float: left;
  width: 121px;
  height: 98px;
  border-radius: 2px;
  box-shadow: -10px 10px #E9A178;
  }

.page-title{
  width: 300px;
  height: 50px;
  margin: 0 auto;
  background: #e9a178;
  border-radius: 2px;
  z-index: 1;
  box-shadow: -10px 10px #a84448;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-group{
  width: 1143px;
  height: 271px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart{
  width: 225px;
  height: 100px;
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}
.cart-text{
 width: 88px;
 float: right;
}

#button-bg {
  display: flex;
  width: 260px;
  height: 52px;
  border-radius: 2px;
  background: #E9A178;
  align-items: center;
  justify-content: center;
  box-shadow: -10px 10px #7A3E65;
}

.button-text{
  font-family: 'Space Grotesk';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.qty{
  width: 151px;
  display: block;
  float: right;
  align-items: center;
  justify-content: center;
}

.left{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-right:10px solid #7A3E65; 
}

.right{
  width: 0; 
  height: 0; 
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent; 
  border-left:10px solid #7A3E65; 
}

.plus-minus{
  font-size: 24px;
  line-height: 31px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.line4{
  width: 1143PX;
  height: 1px;
  background: #A84448;
}

.summary-content{
  display: flex;
  width: 1051px;
  justify-content: space-between;
}

.big-box{
  border-radius: 2px;
  display: block;
  justify-content: center;
  width: 490px;
}

.confirmation{
  width: 100%;
  height: 100%;
  background: #E9A178;
  box-shadow: -10px 10px #a84448;
}

.item{
  width: 466px;
  padding: 12px;
}

.line-vert{
  background: #A84448;
  height: 100%;
  width: 2px;
}

.receipt{
  border-radius: 2px;
  float:left;
  background: #E9A178;
  width: 257px;
  height: 148px;
  box-shadow: -10px 10px #a84448;
}

.delivery-box{
  border-radius: 2px;
  float:left;
  background: #E9A178;
  width: 466px;
  padding: 10px;
  box-shadow: -10px 10px #a84448;
}


.receipt-text{
  width: 100%;
  padding: 12px;
}

#d-wrapper * {

  margin:0;
  padding:0;}
  
  #d-wrapper	div.sep {
      min-height: 200px;
      padding: 32px 0;
  
    }
  
  /* #d-wrapper	.zig-zag-top:before{
      background: 
            linear-gradient(-45deg, #1ba1e2 16px, red 16px, blue 16px,  transparent 0), 
            linear-gradient(45deg, #1ba1e2 16px, transparent 0);
          background-position: left top;
          background-repeat: repeat-x;
          background-size: 22px 32px;
          content: " ";
          display: block;
  
          height: 32px;
      width: 100%;
  
      position: relative;
      bottom: 64px;
      left:0;
    } */
  
  #d-wrapper	div > * {
      margin: 0 40px;
    }
  
  #d-wrapper	.zig-zag-bottom{
      margin: 32px 0;
      margin-top: 0;
      background: #1ba1e2;
    }

.row {
width: 100%;
display: flex;
}

.column {
flex: 33.33%;
padding: 15px;
text-align: center;
}

.item-photo{
border-radius: 2px;
width: 60%;
box-shadow: -10px 10px #E9A178;
}

.info-box{
display: flex;
align-items: center;
flex-direction: column;
margin-left: auto;
margin-right: auto;
width: 448px;
height: 466px;
justify-content: space-evenly;
}

.long-box{
display: flex;
align-items: center;
border-radius: 2px;
width: 100%;
height: 60px;
background: #F5F5F5;
}

.medium-box{
display: flex;
border-radius: 2px;
width: 48%;
height: 60px;
}

.short-box{
display: flex;
border-radius: 2px;
width: 31.2%;
height: 60px;
}

*, *:before, *:after {
box-sizing: border-box;
}

input[type=text], select {
width: 100%;
height: 100%;
border: #F5F5F5;
border-radius: 2px;
}

input[type=number], select {
width: 100%;
height: 100%;
border: 1px solid #F5F5F5;
border-radius: 2px;
}

.info-row{
display: flex;
width: 100%;
justify-content: space-between;
}

#pay-p{
border-radius: 2px;
width: 466px;
height: 60px;
}

#a-pay{
border-radius: 2px;
width: 466px;
height: 60px;
}

.pay-box{
display: flex;
align-items: center;
flex-direction: column;
margin-left: auto;
margin-right: auto;
width: 1051px;
height: 300px;
justify-content: space-between;
}

.card-row{
display: flex;
width: 466px;
justify-content: space-between;
}

#mobile-container {
width: 390px;
height: 844px;
display: flex;
align-items: center;
justify-content: space-around;
flex-direction: column;
background: #F6E1C3;
margin-left: auto;
margin-right: auto;
}

.mobile-title{
width: 100%;
height: 50px;
}

#mobile-box {
width: 95%;
height: 38px;
margin: 0 auto;
background: #E9A178;
border-radius: 2px;
z-index: 1;
box-shadow: -5px 5px #7A3E65;
}

.mobile-menu li a   {
font-size: 16px;
font-style: normal;
color: #000;
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
line-height: 1.6em;
}

.mobile-menu {
height: 100%;
width: 100%;
list-style: none;
display: flex;
padding: 0;
margin: 0;
display: flex;
justify-content: space-evenly;
align-items: center;
}

.mobile-quote {
color: rgba(0, 0, 0, 1);
width: 100%;
height: 64px;
text-align: center;
font-size: 15px;
font-style: normal;
font-family: 'Courier New', Courier, monospace;
font-weight: 300;
line-height: 22px;
font-stretch: normal;
text-decoration: none;
}

.mobile-BG {
width: 90%;
height: 508px;
border-radius: 2px;
z-index: 1;
box-shadow: -10px 10px #A84448;
}

.mobile-page-title{
width: 70%;
height: 38px;
margin: 0 auto;
background: #e9a178;
border-radius: 2px;
z-index: 1;
box-shadow: -5px 5px #a84448;
display: flex;
justify-content: center;
align-items: center;
}

.mobile-title-text {
font-size: 16px;
font-style: Medium;
text-align: center;
font-family: Space Grotesk;
font-weight: 500;
line-height: normal;
font-stretch: normal;
text-decoration: none;
}

.to-scroll{
overflow-y: auto;
}
.mobile-column{
width: 90%;
justify-content: center;
padding: 15px;
}
.mobile-item{
width: 80%;
box-shadow: -5px 5px #E9A178;
}

.mobile-product-group{
width: 95%;
height: 74px;
display: flex;
justify-content: space-between;
align-items: center;
}

.mobile-line{
width: 95%;
height: 1px;
background: #A84448;
}

.mobile-qty{
width: 125px;
display: block;
float: right;
align-items: center;
justify-content: center;
}

.mobile-cart-text{
width: 45px;
float: right;
}

.mobile-cart{
width: 149px;
height: 77px;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 26px;
}

.mobile-item-photo{
width: 94px;
height: 70px;
float: left;
border-radius: 2px;
box-shadow: -5px 5px #E9A178;
}

#mobile-button-bg {
display: flex;
width: 60%;
height: 38px;
border-radius: 2px;
background: #E9A178;
text-align: center;
box-shadow: -5px 5px #7A3E65;
}

.mobile-button-text{
width: 100%;
height: 100%;
font-family: 'Space Grotesk';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
text-decoration: none;
}

.mobile-button-text a{
font-size: 20px;
font-style: normal;
color: #000;
font-family: 'Courier New', Courier, monospace;
text-decoration: none;
line-height: 1.6em;
}

.mobile-receipt{
border-radius: 2px;
float:left;
background: #E9A178;
width: 90%;
height: 148px;
box-shadow: -5px 5px #a84448;
}

.mobile-item{
width: 100%;
padding: 12px;
}

.mobile-receipt-text{
width: 100%;
padding: 12px;
}

.mobile-confirmation-box{
border-radius: 2px;
background: #E9A178;
display: block;
justify-content: center;
width: 90%;
height: 145px;
box-shadow: -5px 5px #a84448;
}

.mobile-long-box{
padding-left: 5px;
display: flex;
align-items: center;
border-radius: 2px;
width: 100%;
height: 47px;
background: #F5F5F5;
}

.mobile-info-box{
display: flex;
align-items: center;
flex-direction: column;
margin-left: auto;
margin-right: auto;
width: 95%;
height: 370px;
justify-content: space-between;
}

.mobile-medium-box{
padding-left: 5px;
display: flex;
align-items: center;
border-radius: 2px;
width: 175px;
height: 47px;
background: #F5F5F5;
}

.mobile-delivery-box{
border-radius: 2px;
float:left;
background: #E9A178;
padding: 10px;
width: 90%;
box-shadow: -5px 5px #a84448;
}

#pay-mobile-p{
border-radius: 2px;
width: 90%;
height: 47px;
}

#a-mobile-pay{
border-radius: 2px;
width: 90%;
height: 47px;
}

.mobile-pay-box{
display: flex;
align-items: center;
flex-direction: column;
margin-left: auto;
margin-right: auto;
width: 95%;
height: 108px;
justify-content: space-between;
}

.mobile-pay-row{
display: flex;
width: 100%;
justify-content: space-between;
}

.mobile-RONDI-description {
width: 95%;
margin:1%;
background: #e9a178;
border-radius: 2px;
box-shadow: -5px 5px #a84448;
padding: 0%;
}

#mobile-RONDI-description-text p {
font-size: 15px;
font-style: normal;
color: #000;
font-family: 'Courier New', Courier, monospace;
text-align: center;
}

.mobile-RONDI-BG {
width: 95%;
height: 301px;
border-radius: 2px;
z-index: 1;
box-shadow: -5px 5px #A84448;
margin:1%;
}

.mobile-row1 {
width:95%;
display:flex;
justify-content: center;
}

.mobile-item-details{
width: 50%;
text-align: right;
padding-right: 8px;
}

.mobile-item-specs{
width: 50%;
padding-left: 8px;
}

.mobile-head-container{
display: flex;
width: 100%;
height: 110px;
align-items: center;
justify-content: space-around;
flex-direction: column;
margin-left: auto;
margin-right: auto;
}

.mobile-page-title-container{
display: flex;
width: 100%;
height: 160px;
margin: 2%;
align-items: center;
justify-content: space-around;
flex-direction: column;
margin-left: auto;
margin-right: auto;
}



  
    
      



  